{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="{% static "imagess/fav.jpg" %}" type='image/x-icon'/>
    <title>IELTS-Analytics</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="icon" href="{% static "img/fav.png" %}">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static "fontss/icomoon/style.css" %}">

    <link rel="stylesheet" href="{% static "csss/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "csss/jquery-ui.css" %}">
    <link rel="stylesheet" href="{% static "csss/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "csss/owl.theme.default.min.css" %}">
    <link rel="stylesheet" href="{% static "csss/owl.theme.default.min.css" %}">

    <link rel="stylesheet" href="{% static "csss/jquery.fancybox.min.css" %}">

    <link rel="stylesheet" href="{% static "csss/bootstrap-datepicker.css" %}">

    <link rel="stylesheet" href="{% static "fontss/flaticon/font/flaticon.css" %}">

    <link rel="stylesheet" href="{% static "csss/aos.css" %}">

    <link rel="stylesheet" href="{% static "csss/style.css" %}">

<link rel="stylesheet" type="text/css" href="tvendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static "tfonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static "tvendor/animate/animate.css" %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static "tvendor/select2/select2.min.css" %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static "tvendor/perfect-scrollbar/perfect-scrollbar.css" %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static "tcss/util.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "tcss/main.css" %}">
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    <div class="top-bar py-3 bg-light" id="home-section">
      <div class="container">
        <div class="row align-items-center">
         
          <div class="col-6 text-left">
            <ul class="social-media">
              <li><a href="https://www.facebook.com/analyticsdomain/" class=""><span class="icon-facebook"></span></a></li>
              <li><a href="https://twitter.com/AnalyticsDomain" class=""><span class="icon-twitter"></span></a></li>
              <li><a href="https://www.instagram.com/analytics_domain/?hl=en" class=""><span class="icon-instagram"></span></a></li>
              <li><a href="https://www.linkedin.com/company/analytics-domain/" class=""><span class="icon-linkedin"></span></a></li>
            </ul>
          </div>
          <div class="col-6">
            <p class="mb-0 float-right">
              <span class="mr-3"><a href="tel://#"> <span class="icon-phone mr-2" style="position: relative; top: 2px;"></span><span class="d-none d-lg-inline-block text-black">(+91) 8459044764</span></a></span>
              <span><a href="#"><span class="icon-envelope mr-2" style="position: relative; top: 2px;"></span><span class="d-none d-lg-inline-block text-black">contact@analyticsdomain.com</span></a></span>
            </p>
            
          </div>
        </div>
      </div> 
    </div>

    <header class="site-navbar py-4 bg-white js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="/" class="text-black mb-0"><img src="{% static "imagess/logo.jpg" %}" alt=""></a></h1>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="/home/wordcloud/" class="nav-link">Word Cloud</a></li>
                <li><a href="/home/rules/" class="nav-link">Rules</a></li>
                <li><a href="/home/register/login/" class="nav-link">Logout</a></li>
              </ul>
            </nav>
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>

  
     
    <div class="site-blocks-cover overlay" style="height:300px;background-image: url({% static "imagess/analytics.jpg" %});" data-aos="fade" data-stellar-background-ratio="0.5">
      
      <div class="container">
        <div class="row align-items-center justify-content-center">

          <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">
                        
            <div class="row mb-4">
              <div class="col-md-7">
                <h1 style="font-size: 60px;background-color: white; text-align:center ;color: black">Analytics</h1>
                <br><br><br>
                <div>
                  <a href="#Score" style="color: black;font-weight: 900;font-size:20px"class="btn btn-white btn-outline-white py-3 px-5 rounded-0 mb-lg-0 mb-2 d-block d-sm-inline-block">Check Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section" id="products-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-6 text-center">
            <h2 class="section-title mb-3">Analytics</h2>
            <p style="font-size: 20px;">Visualize Your Obtained Score Here</p>
          </div>
        </div>
        <div class="row">
          {{ data|safe }}
        </div>
      </div>
    </div>
  </div> <!-- .site-wrap -->

  <script src="{% static "jss/jquery-3.3.1.min.js" %}"></script>
  <script src="{% static "jss/jquery-migrate-3.0.1.min.js" %}"></script>
  <script src="{% static "jss/jquery-ui.js" %}"></script>
  <script src="{% static "jss/popper.min.js" %}"></script>
  <script src="{% static "jss/bootstrap.min.js" %}"></script>
  <script src="{% static "jss/owl.carousel.min.js" %}"></script>
  <script src="{% static "jss/jquery.stellar.min.js" %}"></script>
  <script src="{% static "jss/jquery.countdown.min.js" %}"></script>
  <script src="{% static "jss/bootstrap-datepicker.min.js" %}"></script>
  <script src="{% static "jss/jquery.easing.1.3.js" %}"></script>
  <script src="{% static "jss/aos.js" %}"></script>
  <script src="{% static "jss/jquery.fancybox.min.js" %}"></script>
  <script src="{% static "jss/jquery.sticky.js" %}"></script>

  
  <script src="{% static "jss/main.js" %}"></script>
  

  <script src="tvendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
  <script src="tvendor/bootstrap/js/popper.js"></script>
  <script src="tvendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
  <script src="tvendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
  <script src="tjs/main.js"></script>
{% for tag in tags %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

<script>
var ctx = document.getElementById("{{ tag.idd }}");
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['Grade', 'Spell Errors', 'Grammer Errors', 'Article Errors', 'Time Taken'],
        datasets: [{
            label: 'Scores',
            data: {{ tag.ch|safe }},
            backgroundColor: [
                'red',
                'blue',
                'cyan',
                'yellow',
                'orange'
            ],
            borderColor: [
                'red',
                'blue',
                'cyan',
                'yellow',
                'orange'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
{% endfor %}
</body>
</html>