{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="{% static "imagess/fav.jpg" %}" type='image/x-icon'/>
    <title>IELTS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static "img/fav.png" %}">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static "fontss/icomoon/style.css" %}">

    <link rel="stylesheet" href="{% static "csss/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "csss/jquery-ui.css" %}">
    <link rel="stylesheet" href="{% static "csss/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "csss/owl.theme.default.min.css" %}">
    <link rel="stylesheet" href="{% static "csss/owl.theme.default.min.css" %}">

    <link rel="stylesheet" href="{% static "csss/jquery.fancybox.min.css" %}">

    <link rel="stylesheet" href="{% static "csss/bootstrap-datepicker.css" %}">

    <link rel="stylesheet" href="{% static "fontss/flaticon/font/flaticon.css" %}">

    <link rel="stylesheet" href="{% static "csss/aos.css" %}">

    <link rel="stylesheet" href="{% static "csss/style.css" %}">
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    <div class="top-bar py-3 bg-light" id="home-section">
      <div class="container">
        <div class="row align-items-center">
         
          <div class="col-6 text-left">
            <ul class="social-media">
              <li><a href="https://www.facebook.com/analyticsdomain/" class=""><span class="icon-facebook"></span></a></li>
              <li><a href="https://twitter.com/AnalyticsDomain" class=""><span class="icon-twitter"></span></a></li>
              <li><a href="https://www.instagram.com/analytics_domain/?hl=en" class=""><span class="icon-instagram"></span></a></li>
              <li><a href="https://www.linkedin.com/company/analytics-domain/" class=""><span class="icon-linkedin"></span></a></li>
            </ul>
          </div>
          <div class="col-6">
            <p class="mb-0 float-right">
              <span class="mr-3"><a href="tel://#"> <span class="icon-phone mr-2" style="position: relative; top: 2px;"></span><span class="d-none d-lg-inline-block text-black">(+91) 8459044764</span></a></span>
              <span><a href="/home/contact-us/"><span class="icon-envelope mr-2" style="position: relative; top: 2px;"></span><span class="d-none d-lg-inline-block text-black">contact@analyticsdomain.com</span></a></span>
            </p>
            
          </div>
        </div>
      </div> 
    </div>

    <header class="site-navbar py-4 bg-white js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="index.html" class="text-black mb-0"><img src="{% static "imagess/logo.jpg" %}" alt=""></a></h1>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="/home/register/login/check/checkscorepage/" class="nav-link">CheckScore</a></li>
                <li><a href="/home/analytics/" class="nav-link">Analytics</a></li>
                <li><a href="/home/rules/" class="nav-link">Rules</a></li>
                <li><a href="/home/register/login/" class="nav-link">Logout</a></li>
              </ul>
            </nav>
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>

  
     
    <div class="site-blocks-cover overlay" style="background-image: url({% static "imagess/header.jpg" %});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center">

          <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">
                        
            <div class="row mb-4">
              <div class="col-md-7">
                <h1 style="color: black;">Get Necessary Rules for IELTS</h1>
                
                <div>
                  <a href="#Rules" class="btn btn-white btn-outline-white py-3 px-5 rounded-0 mb-lg-0 mb-2 d-block d-sm-inline-block" style="color: black;">HERE</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="w3-row-padding w3-padding-64 w3-container" id="Rules">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Basic Essay Structure</h1>
      <h5 class="w3-padding-32">An IELTS essay is composed like any other essay; we
just need to make it meaningful. There are three
key element to complete an essay :</h5>

      <p class="w3-text-black">1.Introduction-The Basic Overview</p>
      <p class="w3-text-black">2.Body Paragraphs-Statements supporting the topic</p>
      <p class="w3-text-black">3.Conclusion-Summarizing it all</p>
      <h2 class="w3-padding-32"> Introduction </h2>
      <p class="w3-text-black">Make it a note that we only get 40 minutes to write
the essay, and some of this time needs to be spent
on planning its structure(Maximum of 10 minutes

must be spent on planning the structure.This will in
a way give the student time to focus on vocabulary
and framing sentences). Therefore, we need to be
able to write your introduction fairly quickly so that
we can start writing your body paragraphs.
State the topic of the essay (that you may be able to
take from the question)</p>
<h2 class="w3-padding-32"> Body Paragraphs </h2>
<p class="w3-text-black">For an IELTS essay, you should strictly have 2 to 3
body paragraphs only.
For your body paragraph, each paragraph should
contain one Capturing idea and have sentences to
support this.</p>
<h2 class="w3-padding-32"> Conclusion </h2>
<p class="w3-text-black">The conclusion only needs to be one or two
sentences.Here you can re-state what the essay is
about.Give some thoughts about the future.
This completes our Basic Essay Structure.</p>
 <h1>There are two tasks:</h1>
      <p class="w3-text-black">Task 1 - you will be presented with a situation and
asked to write a letter requesting information, or
explaining the situation. The letter may be personal,
semi-formal or formal in style.</p>


      <p class="w3-text-black">Task 2 - you will be asked to write an essay in
response to a point of view, argument or problem.
The essay can be fairly personal in style.
Here We will be discussing about Task-2 only.</p>
<h2 class="w3-padding-32"> IELTS Writing Task 2 </h2>
<p class="w3-text-black">Write an academic-style essay on a common topic.
You have 40 minutes to write at least 250 words..</p>
<h2 class="w3-padding-32"> Question Analysis </h2>
<p class="w3-text-black">You must first understand the
question and read it multiple times to get to the
core. Students must answer the questions properly
and completely. If student do not answer the
question fully, you can&#39;t score more than a Band 5.</p>
<h2 class="w3-padding-32"> Planning </h2>
<p class="w3-text-black">The students must plan before they write
for up to 10 minutes. Planning helps to organize
ideas before you write, saving your time and
helping you write a clear and a meaningful essay.
Now Write a Simple essay according to the Basic
Essay Structure and That&#39;s it you&#39;re done!</p>
<h2 class="w3-padding-32"> Writing tips from IELTS (Band 5.0) </h2>
<p class="w3-text-black"><p class="w3-text-black">This essay needs work, in particular in the areas of grammar, sentence structure and word choice. The arguments could have been more convincing. The word count is  at least 250 words are required to avoid being penalised. Overall, this looks like a Band 5.5 essay</p>
<h2 class="w3-padding-32"> Writing tips from IELTS (Band 6.0) </h2>
<p class="w3-text-black"><p class="w3-text-black">The linking words and phrases are used in a correct way. The range of vocabulary is sufficient here. There are some attempts to use more sophisticated words but many of them are inaccurate. Even though there are some errors in grammar and punctuation, they don’t make the meaning much harder to understand. Overall, this type of essay seems worthy of IELTS Band 6.</p>
<h2 class="w3-padding-32"> Writing tips from IELTS (Band 7.0) </h2>
<p class="w3-text-black"><p class="w3-text-black">This essay is of 250 words. To fight this problem, try to write in a more general form and provide fewer details. The use of language and ideas are good and so is the essay structure. Seems worthy of Band 7.</p>
<h2 class="w3-padding-32"> Writing tips from IELTS (Band 8.0) </h2>
<p class="w3-text-black"><p class="w3-text-black">In this we need cover the task well by discussing the positives and negatives of the essay. Each paragraph has a clear purpose and assists with orderly presentation of ideas, making this essay easy to follow. The ideas are explained and substantiated, and the writer’s opinion is clear. The range of vocabulary is wide enough to avoid unnecessary repetition. Accuracy of expression could be improved (see corrections underlined in blue), but all in all this type of essay seems worthy of IELTS Band 8.</p>
<h2 class="w3-padding-32"> Task Achievement </h2>
<p class="w3-text-black"><p class="w3-text-black">1.Highlight your key features in an overview<br>2.Supporting your body paragraph with data <br>3.Avoid putting in information which is strong<br>4.avoid an opinion<br>5.Write a factual repoort<br>6.write over 150 words(penalty for under word count)</p>
<h2 class="w3-padding-32"> Coherence and Cohesion </h2>
<p class="w3-text-black"><p class="w3-text-black">1.Plan where to put your information<br>2.Have four body paragraphs <br>3.Use a range of linking devices<br>4.Avoid mistakes with linking words<br>5.Use referencing(this,it,etc)</p>
<h2 class="w3-padding-32"> Grammatical Range and Accuracy </h2>
<p class="w3-text-black"><p class="w3-text-black"> 1.Use a range of sentense structures<br>2.use the right tense for the chart given to you<br>3.Use right word order adjective noun/verb adverb<br>4.Avoid mistakes<br>5.Use the right punctuation</p>
<h2 class="w3-padding-32"> How score is calculated for IELTS writing task </h2>
<p class="w3-text-black"><p class="w3-text-black">1.Task Achievement :Band 7<br>2.Coherence & Cohesion :Band 8<br>3.Grammar :Band 6<br>4.Vocabulary :Band 7<br>
                    The total score for IELTS writing Task : 7 + 8 + 6 + 7(total of four modules) = 28/4 = 7 (Average of the total score).</p>

    </div>
  </div>
</div>

  </div> <!-- .site-wrap -->

  <script src="{% static "jss/jquery-3.3.1.min.js" %}"></script>
  <script src="{% static "jss/jquery-migrate-3.0.1.min.js" %}"></script>
  <script src="{% static "jss/jquery-ui.js" %}"></script>
  <script src="{% static "jss/popper.min.js" %}"></script>
  <script src="{% static "jss/bootstrap.min.js" %}"></script>
  <script src="{% static "jss/owl.carousel.min.js" %}"></script>
  <script src="{% static "jss/jquery.stellar.min.js" %}"></script>
  <script src="{% static "jss/jquery.countdown.min.js" %}"></script>
  <script src="{% static "jss/bootstrap-datepicker.min.js" %}"></script>
  <script src="{% static "jss/jquery.easing.1.3.js" %}"></script>
  <script src="{% static "jss/aos.js" %}"></script>
  <script src="{% static "jss/jquery.fancybox.min.js" %}"></script>
  <script src="{% static "jss/jquery.sticky.js" %}"></script>

  
  <script src="{% static "jss/main.js" %}"></script>
    
  </body>
</html>